<div class=admin_form>

  <%= form_for(@note, method: :get ) do |f| %>
      
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this search:</h2>
        <ul>
          <% @note.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class=header>
      <div class="header-title header-cells">Notes</div>
    </div>
      
    <div class="itemlist">
      <table width="100%">
        <th>Order</th>
        <th>Date</th>
        <th>User</th>
        <th>Info</th>
        <th></th>
        <tr class="search_row">
          <td><%= f.text_field :order_id, size: 5, class: "search_fields" %></td>
          <td><%= f.text_field :date_from, size: 9, class: "search_fields" %> to <%= f.text_field :date_to, size: 9, class: "search_fields" %></td>
          <td><%= f.select :user_id, User.selection, { include_blank: true },
              { class: "btn btn-primary btn-md search_fields" } %></td>
          <td><%= f.text_field :info, class: "search_fields" %></td>
          <td align="right">
            <%= f.submit 'Search', class: "btn btn-primary btn-sm search_fields" %>
            <%= link_to 'Clear', notes_path, class: "btn btn-primary btn-sm search_fields" %>
          </td>
        </tr>
        <% @notes.each do |note| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td><%= link_to(note.order_id, order_path(note.order_id), class: "link_hilight") %></td>
            <td><%= note.formatted_date %></td>
    				<td><%= note.user_name %></td>
    				<td colspan="2"><%= html_newlines(note.info) %></td>
          </tr>
        <% end %>
      </table>
     
      <% flash.each do |name, msg| -%>
        <%= content_tag :p, msg, class: name %>
      <% end %>
      
      <% unless @notes.empty? %>
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @notes %>
          </div>
          <%= will_paginate @notes, :container => false %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>