<div class="admin_form">
<%= form_for(@user) do |f| %>
  <fieldset>
    <legend><%= legend("User Details", @readonly) %></legend>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <div class="field">
      <%= f.label :code, 'Code:' %>
      <%= f.text_field :code, readonly: @readonly, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'Confirm:' %>
      <%= f.password_field :password_confirmation, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :email, 'Email:' %>
      <%= f.text_field :email, :size => 40, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :phone, 'Phone:' %>
      <%= f.text_field :phone, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :accounts_filter, 'Accounts Filter:' %>
      <%= f.text_field :accounts_filter, :size => 80, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :programs_filter, 'Programs Filter:' %>
      <%= f.text_field :programs_filter, :size => 80, readonly: @readonly %>
    </div>
	  <div class="field">
	    <%= f.label :approver_id, 'Default Approver:' %>
	    <%= f.select :approver_id, User.selection, { prompt: 'Select a default approver' },
                   { disabled: @readonly, class: "btn btn-primary" } %>
	  </div>
    <div class="field">
      <label>Permissions:</label>
      <div class="ck-button">
        <label>
          <%= f.check_box :admin, {disabled: @readonly} %>
          <span>Administrator</span>
        </label>
        <label>
          <%= f.check_box :processor, {disabled: @readonly} %>
          <span>Processor</span>
        </label>
        <label>
          <%= f.check_box :approver, {disabled: @readonly} %>
          <span>Approver</span>
        </label>
        <label>
          <%= f.check_box :creator, {disabled: @readonly} %>
          <span>Creator</span>
        </label>
      </div>
    </div>
    </br>
    <div class="actions">
      <label></label>
  		<% if @readonly %>
        <%= link_edit(@user) %>&nbsp;<%= link_delete(@user) %>
      <% else %>
        <%= f.submit nil, class: "btn btn-primary btn-sm" %>
      <% end %>
      <%= link_list(@user) %>
    </div>
	
  	<div class="notice">
      <label for="notice" > </label>
      <%= notice %>
    </div>
  </fieldset>
<% end %>
</div>
