<div id="user_form">
<%= form_for(@user) do |f| %>
  <fieldset>
    <legend><%= legend("User Details", @readonly) %></legend>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <div class="field">
      <%= f.label :code, 'Code:' %>
      <%= f.text_field :code, readonly: @readonly, autofocus: true, onchange: "javascript: set_ldap_params()" %>
    </div>
    <div class="field">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :email, 'Email:' %>
      <%= f.text_field :email, :size => 40, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :phone, 'Phone:' %>
      <%= f.text_field :phone, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :accounts_filter, 'Accounts Filter:' %>
      <%= f.text_field :accounts_filter, :size => 80, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :programs_filter, 'Programs Filter:' %>
      <%= f.text_field :programs_filter, :size => 80, readonly: @readonly %>
    </div>
	  <div class="field">
	    <%= f.label :approver_id, 'Default Approver:' %>
	    <%= f.select :approver_id, User.approvers, 
            { prompt: 'Select a default approver' },
            { disabled: @readonly, class: "btn narrower" } %>
	  </div>
    <div class="field">
      <%= f.hidden_field :admin, value: "0" %>
      <%= f.hidden_field :processor, value: "0" %>
      <%= f.hidden_field :approver, value: "0" %>
      <%= f.hidden_field :creator, value: "0" %>
      <label>Permissions:</label>
      <div class="ck-button">
        <label>
          <%= f.check_box :admin, disabled: @readonly, include_hidden: false %>
          <span>Administrator</span>
        </label>
        <label>
          <%= f.check_box :processor, disabled: @readonly, include_hidden: false %>
          <span>Processor</span>
        </label>
        <label>
          <%= f.check_box :approver, disabled: @readonly, include_hidden: false %>
          <span>Approver</span>
        </label>
        <label>
          <%= f.check_box :creator, disabled: @readonly, include_hidden: false %>
          <span>Creator</span>
        </label>
      </div>
    </div>
    
    <div class="field">
      <%= f.hidden_field :tbr_admin, value: "0" %>
      <%= f.hidden_field :tbr_manager, value: "0" %>
      <label>TBR:</label>
      <div class="ck-button">
        <label>
          <%= f.check_box :tbr_admin, disabled: @readonly, include_hidden: false %>
          <span>Administrator</span>
        </label>
        <label>
          <%= f.check_box :tbr_manager, disabled: @readonly, include_hidden: false %>
          <span>Manager</span>
        </label>
      </div>
    </div>
    
    <div class="actions">
      <label>&nbsp;</label>
  		<% if @readonly %>
        <%= link_edit(@user) %>&nbsp;<%= link_delete(@user) %>
      <% else %>
        <%= f.submit nil, class: "btn btn-primary btn-sm" %>
      <% end %>
      <%= link_list(@user) %>
    </div>
	
		<div>
			<label>&nbsp;</label>
			<% flash.each do |name, msg| %>
				<%= content_tag :span, msg, class: "#{name} action-flash" %>
			<% end %>
		</div>

  </fieldset>
<% end %>
</div>

<script type="text/javascript">
  $('#user_approver_id').selectize({
  	create: false,
  	sortField: 'text'
  });
</script>
