<% flash.each do |name, msg| %>
	<%= content_tag :p, msg, class: name %>
<% end %>

<div class=header>
  <div class="header-title header-cells">Users</div>
  <div class="header-cells right"><%= link_new(User)%></div>
</div>

<table id="users" class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Creator</th>
      <th>Approver</th>
      <th>Processor</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><b><%= link_to(user.code, user) %></b></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
			<td><%= user.phone %></td>
      <td><%= creator(user) %></td>
      <td><%= approver(user) %></td>
      <td><%= processor(user) %></td>
      <td><%= admin(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
