<%= form_tag(controller: 'tbr', action: 'log', method: :post) do %> 
  <div class=header>
    <div class="header-title header-cells">Telstra Billing Reporter Log</div>
    <div class="header-cells right">
      <%= select_tag(:session, options_for_select(@log.selection), { prompt: '-- Select previous log --', onchange: "this.form.submit();", class: "btn btn-primary roles" } )%>
    </div>
  </div>
  <table width="100%">
  <% @log.session(@session).each do |fields| %>
    <tr class='<%= "#{cycle('list_line_odd', 'list_line_even')} #{fields[:type]}" %>'>  
      <td width="20%"><%= "#{fields[:time].strftime('%A %b %-d')}" %></td>
      <td width="15%"><%= "#{fields[:time].strftime('%H:%M:%S')}" %></td>
      <td width="65%"><%= "#{fields[:desc]}" %></td>
    </tr>
  <% end %>
  </table>
<% end%>  

<script>
	if (<%= @session %> == 1) {
    window.onload=setTimeout("location.reload(true);",10000);
  }
</script>

