<% flash.each do |name, msg| %>
	<%= content_tag :p, msg, class: name %>
<% end %>

<div class=header>
  <div class="header-title header-cells">Delivery Addresses</div>
  <div class="header-cells right"><%= link_new(Delivery)%></div>
</div>

<table width="100%">
  <% @deliveries.each do |delivery| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><b><%= link_to(delivery.name, delivery) %></b></td>
      <td><%= delivery.address %></td>
    </tr>
  <% end %>
</table>
