<div class="admin_form">
<%= form_for(@order) do |f| %>
  <fieldset>
    <legend><%= legend("Order Details", @readonly) %></legend>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <div class="field">
      <%= f.label :id, 'Order Number:' %>
      <%= f.text_field :id, readonly: true, autofocus: true %>
    </div>
	  <div class="field">
	    <%= f.label :supplier_id, 'Supplier:' %>
	    <%= f.select :supplier_id, Supplier.selection, { prompt: 'Select a supplier' },
                   { disabled: @readonly, class: "btn btn-primary" } %>
	  </div>
    
    </br>
    <div class="actions">
      <label></label>
  		<% if @readonly %>
        <%= link_edit(@order) %>&nbsp;<%= link_delete(@order) %>
      <% else %>
        <%= f.submit nil, class: "btn btn-primary btn-sm" %>
      <% end %>
      <%= link_list(@order) %>
    </div>
	
  	<div class="notice">
      <label for="notice" > </label>
      <%= notice %>
    </div>
  </fieldset>
<% end %>
</div>
