<div class="admin_form">
<%= form_for(@order, onLoad: "javascript:show_supplier()") do |f| %>
  <fieldset>
    <legend><%= legend("Order Details", @readonly) %></legend>

    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <% if @order.id %>    
      <div>
        <p class="atby">
          <% @order.atby.each do |note| %>
            <%= note %><br/>
          <% end %>
        </p>
      </div>
      <div class="field">
        <%= f.label :id, 'Order:' %>
        <div class="po-header">&nbsp;<%= @order.id %> - <%= @order.status_name %></div>
      </div>
    <% end %>

    <div class="field">
	    <%= f.label :supplier_id, 'Supplier:' %>
	    <%= f.select :supplier_id, Supplier.selection, { prompt: 'Select a supplier' },
            { disabled: @readonly, class: "btn btn-primary", onchange: "javascript:show_supplier()", autofocus: true } %>
	  </div>
    <div id="supplier" class="field">
      <%= f.label :supplier_name, 'Supplier Name:' %>
      <%= f.text_field :supplier_name, :maxlength => 60, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :invoice_no, 'Invoice Number:' %>
      <%= f.text_field :invoice_no, :maxlength => 20, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :invoice_date, 'Invoice Date:' %>
      <%= f.date_select :invoice_date, {}, 
            { disabled: @readonly, class: "btn btn-primary" } %>
    </div>
    <div class="field">
      <%= f.label :payment_date, 'Payment Date:' %>
      <%= f.date_select :payment_date, {}, 
            { disabled: @readonly, class: "btn btn-primary" } %>
    </div>
    <div class="field">
      <%= f.label :reference, 'Reference:' %>
      <%= f.text_field :reference, :maxlength => 20, readonly: @readonly %>
    </div>
	  <div class="field">
	    <%= f.label :approver_id, 'Approver:' %>
	    <%= f.select :approver_id, User.selection, { prompt: 'Select an approver' },
            { disabled: @readonly, class: "btn btn-primary" } %>
	  </div>
    <div class="field">
      <%= f.label :delivery_address, 'Deliver to:' %>
      <%= f.text_area :delivery_address, cols: 40, rows: 5, readonly: @readonly %>
    </div>
    <div class="actions">
      <label></label>
      <% order_actions(@order,@readonly).each do |link| %>
        <%= link %>
      <% end %>

			<!-- Notes Modal -->
			<div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="notesLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:clear_notes()">&times;</button>
			        <h4 class="modal-title" id="notesLabel">Notes</h4>
			      </div>
			      <div class="modal-body">
			        <%= text_area_tag 'order_notes', nil, rows: 5, cols: 72 %>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:clear_notes()">Cancel</button>
			        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
			      </div>
			    </div>
			  </div>
			</div>
    </div>
	
  	<div class="notice">
      <label for="notice" > </label>
      <%= notice %>
    </div>  
  </fieldset>
	
  <% if @order.items.any? %>
    <div class="itemlist">
      <table width="100%">
        <th>Description</th>
        <th>Account</th>
        <th style="text-align: center">Program</th>
        <th style="text-align: center">GST</th>
        <th style="text-align: right">Total</th>
        <% @order.items.each do |item| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td><b><%= link_to(item.description,item) %></b></td>
            <td><%= item.account_name %></td>
            <td align="center"><%= item.program_code %></td>
            <td align="center"><%= item.tax_rate_short_name %></td>
            <td align="right"><%= item.formatted_subtotal %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3"></td>
          <td class="subtotals">Subtotal:</td>
          <td class="subtotals"><%= @order.formatted_subtotal %></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="gst">GST:</td>
          <td class="gst"><%= @order.formatted_gst %></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="totals">Total:</td>
          <td class="totals"><%= @order.formatted_grandtotal %></td>
        </tr>
      </table>
    </div>
  <% end %>
	
  <% if @order.notes.any? %>
    <div class="itemlist">
      <table width="100%">
        <th>Notes</th>
        <th> </th>
        <th> </th>
        <% @order.notes.each do |note| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td><%= note.formatted_date %></td>
						<td><%= note.user_name %></td>
						<td><%= html_newlines(note.info) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
</div>
