<div class="admin_form">
<%= form_for(@order) do |f| %>
  <fieldset>
    <legend><%= legend("Order Details", @readonly) %></legend>

    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <% if @order.id %>    
      <div>
        <p class="atby"><%= @order.atby %></p>
      </div>
      <div class="field">
        <%= f.label :id, 'Order:' %>
        <div class="po-header">&nbsp;<%= @order.id %> - <%= @order.status_name %></div>
      </div>
    <% end %>

    <div class="field">
	    <%= f.label :supplier_id, 'Supplier:' %>
	    <%= f.select :supplier_id, Supplier.selection, { prompt: 'Select a supplier' },
            { disabled: @readonly, class: "btn btn-primary", autofocus: true } %>
	  </div>
    <div class="field">
      <%= f.label :supplier_name, '' %>
      <%= f.text_field :supplier_name, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :invoice_no, 'Invoice Number:' %>
      <%= f.text_field :invoice_no, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :invoice_date, 'Invoice Date:' %>
      <%= f.date_select :invoice_date, {}, 
            { disabled: @readonly, class: "btn btn-primary" } %>
    </div>
    <div class="field">
      <%= f.label :payment_date, 'Payment Date:' %>
      <%= f.date_select :payment_date, {}, 
            { disabled: @readonly, class: "btn btn-primary" } %>
    </div>
    <div class="field">
      <%= f.label :reference, 'Reference:' %>
      <%= f.text_field :reference, readonly: @readonly %>
    </div>
	  <div class="field">
	    <%= f.label :approver_id, 'Approver:' %>
	    <%= f.select :approver_id, User.selection, { prompt: 'Select an approver' },
            { disabled: @readonly, class: "btn btn-primary" } %>
	  </div>
    <div class="actions">
      <label></label>
  		<% if @readonly %>
        <%= link_item_new(@order) %>&nbsp;
        <%= link_edit(@order) %>&nbsp;
        <%= link_delete(@order) %>
      <% else %>
        <%= f.submit nil, class: "btn btn-primary btn-sm" %>
      <% end %>
      <%= link_list(@order) %>
    </div>
	
  	<div class="notice">
      <label for="notice" > </label>
      <%= notice %>
    </div>
    
  </fieldset>
  <% if @order.items.any? %>
    <div class="itemlist">
      <table width="100%">
        <th>Account</th>
        <th style="text-align: center">Program</th>
        <th>Description</th>
        <th>#</th>
        <th style="text-align: right">Price</th>
        <th style="text-align: center">GST</th>
        <th style="text-align: right">Total</th>
        <% @order.items.each do |item| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td><%= item.account.name %></td>
            <td align="center"><%= item.program.code %></td>
            <td><%= link_to(item.description,item) %></td>
            <td><%= item.quantity %></td>
            <td align="right"><%= sprintf('%.2f',item.price) %></td>
            <td align="center"><%= item.tax_rate.short_name %></td>
            <td align="right"><%= sprintf('%.2f',item.total) %></td>
          </tr>
        <% end %>
        <tr><td colspan="7"> </td></tr>
        <tr>
          <td colspan="5"></td>
          <td class="subtotals">Subtotal:</td>
          <td class="subtotals"><%= sprintf('%.2f',@order.subtotal) %></td>
        </tr>
        <tr>
          <td colspan="5"></td>
          <td class="gst">GST:</td>
          <td class="gst"><%= sprintf('%.2f',@order.gst) %></td>
        </tr>
        <tr>
          <td colspan="5"></td>
          <td class="totals">Total:</td>
          <td class="totals"><%= sprintf('%.2f', @order.grandtotal) %></td>
        </tr>
      </table>
    </div>
  <% end %>
<% end %>
</div>
