<div>    
  <% if notice %>
    <p class="notice" ><%= notice %></p>
  <% end %>
  
  <% if @order_filter.faults.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_filter.faults.count, "error") %> prevented orders from being displayed:</h2>
      <ul>
        <% @order_filter.faults.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_tag("/orders/refresh", method: :post) do %>    
    
    <table width="100%">
      <%= index_header('order',9)%>

      <div id="roles">
        <%= select(:order_filter, :role, roles(), {}, { onchange: "this.form.submit()" } )%>
      </div>
      
      <div class="ck-button">
        <label>
          <%= check_box :order_filter, :draft, { onchange: "this.form.submit()" } %>
          <span>Draft</span>
        </label>
        <label>
          <%= check_box :order_filter, :submitted, { onchange: "this.form.submit()" } %>
          <span>Submitted</span>
        </label>
        <label>
          <%= check_box :order_filter, :approved, { onchange: "this.form.submit()" } %>
          <span>Approved</span>
        </label>
        <label>
          <%= check_box :order_filter, :processed, { onchange: "this.form.submit()" } %>
          <span>Processed</span>
        </label>
      </div>

      <div id="orders_list" data-no-turbolink>
        <th><%= link_to 'PO Number &uarr;'.html_safe, orders_path(sort: :id) %></th>
        <th><%= link_to 'Supplier', orders_path(sort: :supplier_id) %></th>
        <th><%= link_to 'Invoice &darr;'.html_safe, orders_path(sort: :invoice_no) %></th>
        <th>Amount</th>
        <th><%= link_to 'Created', orders_path(sort: :created_at) %></th>
        <th><%= link_to 'By', orders_path(sort: :creator_id) %></th>
        <th><%= link_to 'Approved', orders_path(sort: :created_at) %></th>
        <th><%= link_to 'By', orders_path(sort: :approver_id) %></th>
        <th><%= link_to 'Status', orders_path(sort: :status) %></th> 
        <% @orders.each do |order| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td><b><%= link_to(order.id, order) %></b></td>
            <td><%= order.supplier_desc %></td>
            <td><%= order.invoice_no %></td>
            <td align="right"><%= sprintf('%.2f', order.grandtotal) %></td>
            <td><%= format_date(order.created_at) %></td>
            <td><%= order.creator ? order.creator.code : '' %></td>
            <td><%= format_date(order.approved_at) %></td>
            <td><%= order.approver ? order.approver.code : '' %></td>
            <td><%= order.status_name %></td>
          </tr>
        <% end %>
      </div>
    </table>
  <% end %>
</div>
