<div class="admin_form">  
  <% if notice %>
    <p class="notice" ><%= notice %></p>
  <% end %>

  <table width="100%">
    <%= index_header('order',9)%>
    <th>PO Number</th>
    <th>Supplier</th>
    <th>Invoice</th>
    <th>Amount</th>
    <th>Created</th>
    <th>By</th>
    <th>Approved</th>
    <th>By</th>
    <th>Status</th> 
    <% @orders.each do |order| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><b><%= link_to(order.id, order) %></b></td>
        <td><%= order.supplier_desc %></td>
        <td><%= order.invoice_no %></td>
        <td align="right"><%= sprintf('%.2f', order.grandtotal) %></td>
        <td><%= format_date(order.created_at) %></td>
        <td><%= order.creator ? order.creator.code : '' %></td>
        <td><%= format_date(order.approved_at) %></td>
        <td><%= order.approver ? order.approver.code : '' %></td>
        <td><%= order.status_name %></td>
      </tr>
    <% end %>
  </table>
</div>
