<div>    
  <% if notice %>
    <p class="notice" ><%= notice %></p>
  <% end %>

  <%= form_tag("/orders/refresh", method: :post) do %>    
    
    <table width="100%">
      <%= index_header('order',9)%>
      <div id="toolbar">
        <%= select(:order_filter, :role, roles(), {}, { onchange: "this.form.submit()", class: "btn btn-primary" } )%>
        <div class="ck-button">
          <label>
            <%= check_box :order_filter, :draft, {onchange: "this.form.submit()"} %>
            <span>Draft</span>
          </label>
          <label>
            <%= check_box :order_filter, :submitted, {onchange: "this.form.submit()"} %>
            <span>Submitted</span>
          </label>
          <label>
            <%= check_box :order_filter, :approved, {onchange: "this.form.submit()"} %>
            <span>Approved</span>
          </label>
          <label>
            <%= check_box :order_filter, :processed, {onchange: "this.form.submit()"} %>
            <span>Processed</span>
          </label>
        </div>
      </div>  
      <th>PO Number</th>
      <th>Supplier</th>
      <th>Invoice</th>
      <th>Amount</th>
      <th>Created</th>
      <th>By</th>
      <th>Approved</th>
      <th>By</th>
      <th>Status</th> 
      <% @orders.each do |order| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><b><%= link_to(order.id, order) %></b></td>
          <td><%= order.supplier_desc %></td>
          <td><%= order.invoice_no %></td>
          <td align="right"><%= sprintf('%.2f', order.grandtotal) %></td>
          <td><%= format_date(order.created_at) %></td>
          <td><%= order.creator ? order.creator.code : '' %></td>
          <td><%= format_date(order.approved_at) %></td>
          <td><%= order.approver ? order.approver.code : '' %></td>
          <td><%= order.status_name %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
