<div>    
  <% flash.each do |name, msg| -%>
    <%= content_tag :p, msg, class: name %>
  <% end -%>
      
  <% if @order_filter.faults.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_filter.faults.count, "error") %> prevented orders from being displayed:</h2>
      <ul>
        <% @order_filter.faults.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_tag(controller: 'orders', action: 'refresh', method: :post) do %>        
    <div class=header>
      <div class="header-title header-cells">Orders</div>
      <div class="header-cells">
        <%= select(:order_filter, :role, roles(), {}, { onchange: "this.form.submit()", class: "btn btn-primary roles" } )%>
      </div>
      <div class="header-cells">
				<%= hidden_field :order_filter, :draft, value: "0" %>
				<%= hidden_field :order_filter, :submitted, value: "0" %>
				<%= hidden_field :order_filter, :approved, value: "0" %>
				<%= hidden_field :order_filter, :processed, value: "0" %>
        <div class="ck-button">
          <label>
            <%= check_box :order_filter, :draft, onchange: "this.form.submit()", include_hidden: false %>
						<span>Draft</span>
          </label>
          <label>
            <%= check_box :order_filter, :submitted, onchange: "this.form.submit()", include_hidden: false %>
            <span>Submitted</span>
          </label>
          <label>
            <%= check_box :order_filter, :approved, onchange: "this.form.submit()", include_hidden: false %>
            <span>Approved</span>
          </label>
          <label>
            <%= check_box :order_filter, :processed, onchange: "this.form.submit()", include_hidden: false %>
            <span>Processed</span>
          </label>
        </div>
      </div>
      <div class="header-cells right">
        <%= link_new('order')%>
      </div>
    </div>
    
    <table width="100%">     
      <th><%= order_sort_header(:id) %></th>
      <th><%= order_sort_header(:supplier_name) %></th>
      <th><%= order_sort_header(:invoice_no) %></th>
      <th><%= order_header(:amount) %></th>
      <th><%= order_sort_header(:created_at) %></th>
      <th><%= order_sort_header(:creator_id) %></th>
      <th><%= order_sort_header(:approved_at) %></th>
      <th><%= order_sort_header(:approver_id) %></th>
      <th><%= order_sort_header(:status) %></th> 
      <% @orders.each do |order| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= link_to(order.id, order, class: "link_hilight") %></td>
          <td><%= order.supplier_name %></td>
          <td><%= order.invoice_no %></td>
          <td align="right"><%= order.formatted_grandtotal %></td>
          <td><%= format_date(order.created_at) %></td>
          <td><%= order.creator ? order.creator.code : '' %></td>
          <td><%= format_date(order.approved_at) %></td>
          <td><%= order.approver ? order.approver.code : '' %></td>
          <td><%= order.status_name %></td>
        </tr>
      <% end %>
    </table>
    
    <% unless @orders.empty? %>
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @orders %>
        </div>
        <%= will_paginate @notes, :container => false %>
      </div>
    <% end %>
    
  <% end %>
</div>
