<% if notice %>
  <p class="notice" ><%= notice %></p>
<% end %>

<div class=header>
  <div class="header-title header-cells">Tax Rates</div>
  <div class="header-cells right"><%= link_refresh('tax_rate')%></div>
</div>

<table width="100%">
  <th>Name</th>
  <th>Short Name</th>
  <th style="text-align:right">Rate</th>
  <% @tax_rates.each do |tax_rate| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= tax_rate.name %></td>
			<td><%= tax_rate.short_name %></td>
      <td align="right"><%= tax_rate.rate %>%</td>
    </tr>
  <% end %>
</table>
