<div class="admin_form">
<%= form_for(@model) do |f| %>
  <fieldset>
    <legend><%= legend("#{@model.class.name.titleize} Details", @readonly) %></legend>
    <% if @model.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	
    <div class="field">
      <%= f.label :id, 'Id:', class: "po-label" %>
      <div class="po-header">&nbsp;<%= @model.id %></div>
    </div>
    
    <div class="field">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, :maxlength => 60 %>
    </div>
    
    <div class="field">
	    <%= f.label :status, 'Status:' %>
	    <%= f.select :status, @class::STATUS.invert, {}, { class: "btn btn-primary btn-sm" } %>
    </div>
    
    <% @model.attribute_list.each_key do |field| %>
      <div class="field">
        <%= attribute_label(field) %>
        <%= attribute_field(f,field) %>
      </div>
    <% end %>
    
    <div class="actions">
      <label>&nbsp;</label>
      <%= f.submit nil, class: "btn btn-primary btn-sm" %>
      <%= link_list(@model) %>
    </div>
	
		<div>
			<label>&nbsp;</label>
			<% flash.each do |name, msg| %>
				<%= content_tag :span, msg, class: "#{name} action-flash" %>
			<% end %>
		</div>
    
  </fieldset>
<% end %>
</div>
