<% flash.each do |name, msg| -%>
  <%= content_tag :p, msg, class: name %>
<% end %>

<div class="header">
  <div class="header-title header-cells"><%= @class.name.titleize.pluralize %></div>
  <div class="header-cells right"><%= link_refresh %></div>
</div>

<table id="<%= @models[0].class.name.downcase.pluralize %>" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <% @class.new.attribute_list.each_key do |field| %>
        <th><%= field.titleize %></th>
      <% end %>
      <th style="text-align:right">Status</th>
    </tr>
  </thead>
  <tbody>
  <% @models.each do |model| %>
    <tr>
      <td><%= link_exo(model) %></td>
      <td><%= model.name %></td>
      <% model.attribute_list.each_key do |field| %>
        <td><%= model.send(field) %></td>
      <% end %>
      <td align="right"><%= model.formatted_status %></td>
    </tr>
  <% end %>
  </tbody>
</table>

