<% flash.each do |name, msg| -%>
  <%= content_tag :p, msg, class: name %>
<% end %>

<div class="header">
  <div class="header-title header-cells"><%= @class.name.titleize.pluralize %></div>
  <div class="header-cells right"><%= link_refresh %></div>
</div>

<table width="100%">
  <th>ID</th>
  <th>Name</th>
  <% @class.new.attribute_list.each_key do |field| %>
    <th><%= field.titleize %></th>
  <% end %>
  <th style="text-align:right">Status</th>
  <% @models.each do |model| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= link_exo(model) %></td>
      <td><%= model.name %></td>
      <% model.attribute_list.each_key do |field| %>
        <td><%= model.send(field) %></td>
      <% end %>
      <td align="right"><%= model.formatted_status %></td>
    </tr>
  <% end %>
</table>

