<div id="tbr_service_form">
<%= form_for(@tbr_service) do |f| %>
  <fieldset>
    <legend><%= legend("TBR Service Details", @readonly) %></legend>
    <% if @tbr_service.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tbr_service.errors.count, "error") %> prohibited this tbr_service from being saved:</h2>
        <ul>
          <% @tbr_service.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    	
    <div class="field">
	    <%= f.label :manager_id, 'Manager:' %>
	    <div class="select-medium">
        <%= f.select :manager_id, User.tbr_managers, 
              { prompt: 'Select a manager' },
              { disabled: @readonly } %>
  	  </div>
    </div>
    <div class="field">
	    <%= f.label :user_id, 'User:' %>
	    <div class="select-medium">
        <%= f.select :user_id, User.users, 
              { prompt: 'Select a user' },
              { disabled: @readonly } %>
  	  </div>
    </div>
    <div class="field">
      <%= f.label :code, 'Service:' %>
      <%= f.text_field :code, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, class: 'wider', readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :cost_centre, 'Cost Centre:' %>
      <%= f.text_field :cost_centre, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :rental, 'Rental:' %>
      <%= f.text_field :rental, readonly: @readonly %>
    </div>
    <div class="field">
	    <%= f.label :service_type, 'Service Type:' %>
	    <div class="select-medium">
        <%= f.select :service_type, TbrService.service_types, 
              { prompt: 'Select or add a service type' },
              { disabled: @readonly } %>
  	  </div>
    </div>
    
    <div class="field">
      <%= f.label :comment, 'Comment:' %>
      <%= f.text_area :comment, rows: 5, readonly: @readonly %>
    </div>
    
    <div class="actions">
      <label>&nbsp;</label>
  		<% if @readonly %>
        <%= link_edit(@tbr_service) %>&nbsp;<%= link_delete(@tbr_service) %>
      <% else %>
        <%= f.submit submit_label(@tbr_service), class: "btn btn-primary btn-sm" %>
      <% end %>
      <%= link_list(@tbr_service) %>
    </div>
	
		<div>
			<label>&nbsp;</label>
			<% flash.each do |name, msg| %>
				<%= content_tag :span, msg, class: "#{name} action-flash" %>
			<% end %>
		</div>

  </fieldset>
<% end %>
</div>

<script type="text/javascript">
  $('#tbr_service_service_type').selectize({
  	create: true,
  	sortField: 'text'
  });
  
  $('#tbr_service_manager_id').selectize({
  	create: false,
    sortField: 'text'
  });
  
  $('#tbr_service_user_id').selectize({
  	create: false,
  	sortField: 'text'
  });
</script>
