<% if notice %>
  <p class="notice" ><%= notice %></p>
<% end %>

<div class=header>
  <div class="header-title header-cells">TBR Services</div>
  <div class="header-cells right"><%= link_new(TbrService)%></div>
</div>

<table width="100%">
  <% @tbr_services.each do |service| %>
    <th>Service</th>
    <th>Manager</th>
    <th>User</th>
    <th>Name</th>
    <th>Comment</th>    
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><b><%= link_to(format_phone_number(service.code), service) %></b></td>
      <td><%= service.manager_code %></td>
      <td><%= service.user_code %></td>
      <td><%= service.name %></td>
      <td><%= service.comment %></td>
    </tr>
  <% end %>
</table>
