<% flash.each do |name, msg| %>
	<%= content_tag :p, msg, class: name %>
<% end %>

<div class=header>
  <div class="header-title header-cells">TBR Services</div>
  <div class="header-cells right"><%= link_new(TbrService)%></div>
</div>

<table id="tbrservices" class="table table-striped">
  <thead>
    <tr>
      <th>Service</th>
      <th>Manager</th>
      <th>User</th>
      <th>Name</th>
      <th>Type</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
  <% @tbr_services.each do |service| %>    
    <tr>
      <td><b><%= link_to(format_phone_number(service.code), service) %></b></td>
      <td><%= service.manager_code %></td>
      <td><%= service.user_code %></td>
      <td><%= service.name %></td>
      <td><%= service.service_type %></td>
      <td><%= service.comment %></td>
    </tr>
  <% end %>
  </tbody>
</table>
