<div class="admin_form">

<%= form_for(@item) do |f| %>
  <fieldset>
    <legend><%= legend("Item Details", @readonly) %></legend>

    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	     
    <%= f.hidden_field :order_id %>
    <%= f.hidden_field :lock_version %>
    
    <div>
      <p class="atby">
        <% @order.atby.each do |note| %>
          <%= note %><br/>
        <% end %>
      </p>
    </div>
    <div class="field">
      <%= f.label :id, 'Order:' %>
      <div class="po-header">&nbsp;<%= @order.id %> - <%= @order.status_name %></div>
    </div>
    <div class="field">
      <%= f.label :id, 'Supplier:' %>
      <div class="text">&nbsp;<%= @order.supplier_desc %></div>
    </div>
	  <div class="field">
	    <%= f.label :program_id, 'Program:' %>
	    <%= program_select(@item,@readonly,true) %>
      <% if !@readonly %>
				<div class="filter-button">
	        <label>
	          <%= check_box_tag :program_flag, 1, true, disabled: @readonly, onchange: "javascript:program_select()" %>
	          <span>Filter</span>
	        </label>
				</div>
			<% end %>
	  </div>
	  <div class="field">
	    <%= f.label :account_id, 'Account:' %>
	    <%= account_select(@item,@readonly,true) %>
      <% if !@readonly %>
				<div class="filter-button">
	        <label>
	          <%= check_box_tag :account_flag, 1, true, disabled: @readonly, onchange: "javascript:account_select()" %>
	          <span>Filter</span>
	        </label>
				</div>
			<% end %>
	  </div>
	  <div class="field">
	    <%= f.label :tax_rate_id, 'Tax Rate:' %>
	    <div id="tax_rate">
        <%= tax_rate_select(@item,@readonly) %>
      </div>
    </div>
    <div class="field">
      <%= f.label :description, 'Description:' %>
      <%= f.text_field :description, :maxlength => 40, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :price, 'Price (incl tax):' %>
      <%= f.text_field :price, value: @item.formatted_price, readonly: @readonly, onchange: "javascript:set_gst()" %>
    </div>
    <div class="field">
      <%= f.label :gst, 'GST:' %>
			<%= text_field_tag :gst, @item.formatted_gst, readonly: true %>
    </div>
    
    <div class="actions">
      <label>&nbsp;</label>
  		<% if @readonly %>
        <%= link_edit(@item) %>
        <%= link_delete(@item) %>
      <% else %>
        <%= f.submit nil, class: "btn btn-primary btn-sm" %>
        <%= link_delete(@item) %>
      <% end %>
      <%= link_model(@order) %>
    </div>
	
		<div>
			<label>&nbsp;</label>
			<% flash.each do |name, msg| %>
				<%= content_tag :span, msg, class: "#{name} action-flash" %>
			<% end %>
		</div>
    
    <% if @order.items.any? %>
      
    <% end %>
  </fieldset>
<% end %>
</div>
