<div class="admin_form">

<%= form_for(@item) do |f| %>
  <fieldset>
    <legend><%= legend("Item Details", @readonly) %></legend>

    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
	     
    <%= f.hidden_field(:order_id) %>
    <div>
      <p class="atby">
        <% @order.atby.each do |note| %>
          <%= note %><br/>
        <% end %>
      </p>
    </div>
    <div class="field">
      <%= f.label :id, 'Order:' %>
      <div class="po-header">&nbsp;<%= @order.id %> - <%= @order.status_name %></div>
    </div>
    <div class="field">
      <%= f.label :id, 'Supplier:' %>
      <div class="text">&nbsp;<%= @order.supplier_desc %></div>
    </div>
	  <div class="field">
	    <%= f.label :program_id, 'Program:' %>
	    <%= f.select :program_id, Program.selection, { prompt: 'Select a program' },
            { disabled: @readonly, class: "btn btn-primary" } %>
	  </div>
	  <div class="field">
	    <%= f.label :account_id, 'Account:' %>
	    <%= f.select :account_id, Account.selection, { prompt: 'Select an account' },
            { disabled: @readonly, onchange: "javascript:tax_rate()", class: "btn btn-primary" } %>
	  </div>
	  <div class="field">
	    <%= f.label :tax_rate_id, 'Tax Rate:' %>
	    <div id="tax_rate">
        <%= tax_rate_select(@item,@readonly) %>
      </div>
    </div>
    <div class="field">
      <%= f.label :description, 'Description:' %>
      <%= f.text_field :description, :maxlength => 40, readonly: @readonly %>
    </div>
    <div class="field">
      <%= f.label :price, 'Price (incl tax):' %>
      <%= f.text_field :price, readonly: @readonly, onchange: "javascript:gst()" %>
    </div>
    <div class="field">
      <%= f.label :gst, 'GST:' %>
      <div class="text" id="gst">&nbsp;<%= @item.formatted_gst %></div>
    </div>
    
    <div class="actions">
      <label></label>
  		<% if @readonly %>
        <%= link_edit(@item) %>&nbsp;
        <%= link_delete(@item) %>&nbsp;
      <% else %>
        <%= f.submit nil, class: "btn btn-primary btn-sm" %>
      <% end %>
      <%= link_model(@order) %>
    </div>
	
  	<div class="notice">
      <label for="notice" > </label>
      <%= notice %>
    </div>
    
    <% if @order.items.any? %>
      
    <% end %>
  </fieldset>
<% end %>
</div>
