<% if notice %>
  <p class="notice" ><%= notice %></p>
<% end %>

<div class=header>
  <div class="header-title header-cells">Suppliers</div>
  <div class="header-cells right"><%= link_refresh('supplier')%></div>
</div>

<table width="100%">
  <th>Name</th>
  <th>Address</th>
  <th>Phone</th>
  <th>Fax</th>
  <th>Email</th>
  <% @suppliers.each do |supplier| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= supplier.name %></td>
			<td><%= supplier.address %></td>
			<td white-space: nowrap><%= supplier.phone %></td>
			<td white-space: nowrap><%= supplier.fax %></td>
      <td><%= supplier.email %></td>
    </tr>
  <% end %>
</table>