<!DOCTYPE html>
<html lang="en">
  <head>
    <title>POPS - Purchase Order Processing System</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body onLoad="show_supplier()">   
    <div id="wrap"><!-- Wrap all page content here -->
      <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">POPS - Purchase Order Processing System</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <!--li class="active"><a href="#">Home</a></li-->
              <li><a href="/orders">Orders</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/users">Users</a></li>
                  <li class="divider"></li>
                  <li><a href="/suppliers">Suppliers</a></li>
                  <li><a href="/programs">Programs</a></li>
                  <li><a href="/accounts">Accounts</a></li>
                  <li><a href="/tax_rates">Tax Rates</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_logoutin %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="container credit">&copy; Pyrrho Pty Ltd - 2013</div>
    </div>

  </body>
  
</html>
