<% if notice %>
  <p class="notice" ><%= notice %></p>
<% end %>

<div class=header>
  <div class="header-title header-cells">Accounts</div>
  <div class="header-cells right"><%= link_refresh('account')%></div>
</div>

<table width="100%">
  <th>Name</th>
  <th>Tax Rate</th>
  <th>Status</th>
  <% @accounts.each do |account| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= account.name %></td>
      <td><%= account.tax_rate ? account.tax_rate.name : '' %></td>
      <td><%= account.formatted_status %>
    </tr>
  <% end %>
</table>
